<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Лог бібліотеки</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body ng-app="App">
Лог бібліотеки
<div ng-controller="LibraryItself as ctrl" id="block">
    <div class="container-fluid">
        <div class="datagrid">
            <table>
                <tbody>
                <tr>

                    <th  class="my-th">
                        <a href="\book.html" style="color: white">Книги</a>
                    </th>
                    <th  class="my-th">
                        <a href="\deliveryndeleting.html" style="color: white">Доставки та списання</a>
                    </th>
                    <th  class="my-th">
                        <a href="\librarian.html" style="color: white">Біблотекарі</a>
                    </th>
                    <th class="my-th-selected" >
                        <a style="color: white">Лог бібліотеки</a>
                    </th>
                    <th  class="my-th">
                        <a href="\pupil.html" style="color: white">Учні</a>
                    </th>

                </tr>
                <tr>
                    <th class="my-th">
                        <a href="\Readers.html" style="color: white">Читачі</a>
                    </th>
                    <th  class="my-th">
                        <a href="\Scientist.html" style="color: white">Вчені</a>
                    </th>
                    <th  class="my-th">
                        <a href="\StoragePlace.html" style="color: white">Місце зберігання</a>
                    </th>
                    <th  class="my-th">
                        <a href="\Students.html" style="color: white">Студенти</a>
                    </th>
                    <th  class="my-th">
                        <a href="\main.html" style="color: white">На головну</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-heading"> Лог бібліотеки </div>
        <div class="datagrid">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата візиту</th>
                    <th>Дата видання</th>
                    <th>Кількість днів</th>
                    <th>id читача</th>
                    <th>Вміст книги</th>
                    <th width="65px">
                        <button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                style="width: 63px" ng-click="ctrl.startInsertLibraryItself()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>                </thead>
                <tbody>
                <tr ng-repeat="item in libraryitself">
                    <td>{{item.idLibraryItself}}</td>
                    <td>{{item.visitingDate}}</td>
                    <td>{{item.issuingDate}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.readers.idReaders}}</td>
                    <td>{{item.book.containmentOfABook}}</td>
                    <td scope="row">
                        <button type="button" class="btn-warning" data-toggle="modal" data-target="#updateModal"
                                ng-click="ctrl.startUpdateLibraryItself(item.idLibraryItself,item.visitingDate,item.issuingDate,item.time,item.readers.idReaders,item.book.idBook)"
                                style="width: 30px">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn-danger" ng-click="ctrl.delFromLibraryItself(item.idLibraryItself)"
                                style="width: 30px">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--добавление ReservationOrganization-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Добавлення</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Введіть дату візиту
                        <br>
                        <input type="date" id="VisitingDate">
                        <br>
                        Введіть дату видання
                        <br>
                        <input type="date" id="IssuingDate">
                        <br>
                        Введіть кількість днів
                        <br>
                        <input type="number" id="Time">
                        <br>
                        Введіть id читача
                        <select id="Readers">
                        </select>
                        <br>
                        Введіть
                        Введіть вміст книги
                        <br>
                        <select id="Book">
                        </select>
                        <br>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.insertToLibraryItself()">Добавити</button>
                    </div>
                </div>
            </div>
        </div>

        <!--обновленіє ReservationOrganization-->
        <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Обновлення</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ідентифікатор
                        <br>
                        <div id="LibraryItselfIdUPD"></div>
                        <br>
                        Введіть дату візиту
                        <br>
                        <input type="date" id="VisitingDateUPD">
                        <br>
                        Введіть дату видання
                        <br>
                        <input type="date" id="IssuingDateUPD">
                        <br>
                        Введіть кількість днів
                        <br>
                        <input type="number" id="TimeUPD">
                        <br>
                        Введіть id читача
                        <select id="ReadersUPD">
                        </select>
                        <br>
                        Введіть вміст книги
                        <br>
                        <select id="BookUPD">
                        </select>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.updateLibraryItself()">Обновити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/libraryitself.js"></script>

</html>



